useful commands

sqlite> .header on

sqlite> .mode column

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.pylab as pylab
import seaborn as sns

# Cause plots to be displayed in the notebook:
%pylab inline
%matplotlib inline

from google.cloud import bigquery

Populating the interactive namespace from numpy and matplotlib

In [11]:
import sqlite3
from pandas.io import sql
sqlite_db = 'miniproject_db.sqlite'
conn = sqlite3.connect(sqlite_db) 
c = conn.cursor()

In [3]:
key_path = './marine-fusion-381400-bcd419f0d93b.json'

In [4]:
myclient = bigquery.Client.from_service_account_json(key_path, project = 'marine-fusion-381400')
print(myclient.project)
mydatasets = list(myclient.list_datasets())
mydatasets

marine-fusion-381400

[]

In [ ]:
sql = '''SELECT COUNT(1) as num_rows  FROM `bigquery-public-data.samples.shakespeare` '''
query_job = myclient.query(sql)

In [9]:
sql = ''' SELECT  word, word_count, corpus  FROM `bigquery-public-data.samples.shakespeare` LIMIT 10; '''
query_job = myclient.query(sql)

In [ ]:
for row in query_job:
    assert row[0] == row['word']  
    assert row[1] == row['word_count']  
    assert row[2] == row['corpus']  
    print(row[0],row[1],row[2])

In [10]:
df = query_job.to_dataframe()
print(df)

        word  word_count   corpus
0       LVII           1  sonnets
1     augurs           1  sonnets
2     dimm'd           1  sonnets
3    plagues           1  sonnets
4    treason           1  sonnets
5    surmise           1  sonnets
6       heed           1  sonnets
7  Unthrifty           1  sonnets
8    quality           1  sonnets
9   wherever           1  sonnets

In [5]:
sql = ''' SELECT Address,City,State_Abbr,County_Name,Postal_Code,
Degree_of_Shortage,Status_Description,Designation_Pop,
Estimated_Underserved_Pop,HPSA_Score, Designation_Date,
Component_Designation_Date,HPSA_Withdrawn_Date,
Geocoding_Primary_Y as latitude,
Geocoding_Primary_X as longitude   FROM `bigquery-public-data.sdoh_hrsa_shortage_areas.hpsa_mental_health` 
WHERE 
 NOT Address IS NULL
 AND 
 NOT Degree_of_Shortage IS NULL
 AND 
 NOT HPSA_Score IS NULL
 AND 
 NOT Designation_Pop IS NULL
 -- AND
 -- NOT Status_Description = 'Withdrawn'
LIMIT 10; '''
query_job = myclient.query(sql)

In [6]:
df = query_job.to_dataframe()
df

,Address,City,State_Abbr,County_Name,Postal_Code,Degree_of_Shortage,Status_Description,Designation_Pop,Estimated_Underserved_Pop,HPSA_Score,Designation_Date,Component_Designation_Date,HPSA_Withdrawn_Date,latitude,longitude
0,Success Loop Rd,Berlin,NH,Coos,3570,12,Designated,935,<NA>,21,2019-02-22,NaT,NaT,44.522882,-71.139231
1,965 Elm St,Concord,MA,Middlesex,01742-2119,6,Designated,1729,<NA>,6,2010-08-20,NaT,NaT,42.466866,-71.396306
2,2405 Main St,Walpole,MA,Norfolk,02081-1027,6,Designated,2272,<NA>,6,2010-03-12,NaT,NaT,42.106412,-71.286631
3,99 Loring Dr,Framingham,MA,Middlesex,01702-8785,3,Designated,3263,<NA>,3,2018-08-02,NaT,NaT,42.268254,-71.409736
4,400 Faunce Corner Rd,North Dartmouth,MA,Bristol,02747-1275,12,Designated,4339,<NA>,12,2019-04-11,NaT,NaT,41.665131,-70.991221
5,1 Harvard Rd,Shirley,MA,Middlesex,01464-2434,6,Designated,2401,<NA>,6,2010-12-17,NaT,NaT,42.542995,-71.657067
6,30 Administration Rd,Bridgewater,MA,Plymouth,02324-3230,12,Designated,773,<NA>,12,2011-06-28,NaT,NaT,41.944286,-70.954011
7,500 Colony Rd,Gardner,MA,Worcester,01440-4238,3,Designated,1260,<NA>,3,2007-02-28,NaT,NaT,42.575973,-71.946702
8,2 Clark St,Norfolk,MA,Norfolk,2056,6,Designated,1964,<NA>,6,2007-02-28,NaT,NaT,42.121375,-71.303771
9,42 Patton Rd,Ayer,MA,Worcester,01434-3802,12,Designated,1053,<NA>,12,2019-02-22,NaT,NaT,42.529098,-71.623929

In [17]:
df.to_sql('hpsa_mental_health_short', con = conn, if_exists = 'replace', index = False)

In [18]:
# now run query the data locally from sqlite3
query = """
        SELECT * 
        FROM hpsa_mental_health_short 
        LIMIT 10;
        """

test10 = sql.read_sql(query, con=conn)
test10

,Address,City,State_Abbr,County_Name,Postal_Code,Degree_of_Shortage,Status_Description,Designation_Pop,Estimated_Underserved_Pop,HPSA_Score,Designation_Date,Component_Designation_Date,HPSA_Withdrawn_Date,latitude,longitude
0,Success Loop Rd,Berlin,NH,Coos,3570,12,Designated,935,None,21,2019-02-22,None,None,44.522882,-71.139231
1,965 Elm St,Concord,MA,Middlesex,01742-2119,6,Designated,1729,None,6,2010-08-20,None,None,42.466866,-71.396306
2,2405 Main St,Walpole,MA,Norfolk,02081-1027,6,Designated,2272,None,6,2010-03-12,None,None,42.106412,-71.286631
3,99 Loring Dr,Framingham,MA,Middlesex,01702-8785,3,Designated,3263,None,3,2018-08-02,None,None,42.268254,-71.409736
4,400 Faunce Corner Rd,North Dartmouth,MA,Bristol,02747-1275,12,Designated,4339,None,12,2019-04-11,None,None,41.665131,-70.991221
5,1 Harvard Rd,Shirley,MA,Middlesex,01464-2434,6,Designated,2401,None,6,2010-12-17,None,None,42.542995,-71.657067
6,30 Administration Rd,Bridgewater,MA,Plymouth,02324-3230,12,Designated,773,None,12,2011-06-28,None,None,41.944286,-70.954011
7,500 Colony Rd,Gardner,MA,Worcester,01440-4238,3,Designated,1260,None,3,2007-02-28,None,None,42.575973,-71.946702
8,2 Clark St,Norfolk,MA,Norfolk,2056,6,Designated,1964,None,6,2007-02-28,None,None,42.121375,-71.303771
9,42 Patton Rd,Ayer,MA,Worcester,01434-3802,12,Designated,1053,None,12,2019-02-22,None,None,42.529098,-71.623929

In [7]:
sql = ''' SELECT *   FROM `bigquery-public-data.sdoh_hrsa_shortage_areas.hpsa_mental_health` ;'''
query_job = myclient.query(sql)
dfbig = query_job.to_dataframe()
dfbig.head()

,Source_ID,Source_Name,Status_Code,Status_Description,Type_Code,Type_Desc,Address,City,State_Abbr,Postal_Code,...,Common_State_Name,Common_State_FIPS,Common_Region_Name,HPSA_Withdrawn_Date,HPSA_Withdrawn_Date_String,Provider_Type,Rural_Status_Code,Rural_Status_Desc,HPSA_Designation_Pop_Type_Desc,BHCMIS_OrgID
0,733007,Coos,W,Withdrawn,Hpsa Geo,Geographic HPSA,None,None,NH,None,...,New Hampshire,33,Region I,2003-06-27,6/27/2003,None,R,Rural,Geographic Population,None
1,7449994412,Northern Rhode Island Catchment Area,W,Withdrawn,Hpsa Geo,Geographic HPSA,None,None,RI,None,...,Rhode Island,44,Region I,2008-08-11,8/11/2008,None,None,None,Geographic Population,None
2,7449994412,Northern Rhode Island Catchment Area,W,Withdrawn,Hpsa Geo,Geographic HPSA,None,None,RI,None,...,Rhode Island,44,Region I,2008-08-11,8/11/2008,None,None,None,Geographic Population,None
3,7449994412,Northern Rhode Island Catchment Area,W,Withdrawn,Hpsa Geo,Geographic HPSA,None,None,RI,None,...,Rhode Island,44,Region I,2008-08-11,8/11/2008,None,None,None,Geographic Population,None
4,7449994412,Northern Rhode Island Catchment Area,W,Withdrawn,Hpsa Geo,Geographic HPSA,None,None,RI,None,...,Rhode Island,44,Region I,2008-08-11,8/11/2008,None,None,None,Geographic Population,None

In [8]:
dfbig.to_sql('hpsa_mental_health_full', con = conn, if_exists = 'replace', index = False)

In [12]:
# now run the previous test query from the full table stored locally 
query = """

    SELECT Address,City,State_Abbr,County_Name,Postal_Code,
           Degree_of_Shortage,Status_Description,Designation_Pop,
           Estimated_Underserved_Pop,HPSA_Score, Designation_Date,
           Component_Designation_Date,HPSA_Withdrawn_Date,
           Geocoding_Primary_Y as latitude,
        Geocoding_Primary_X as longitude   
    FROM  hpsa_mental_health_full
    WHERE 
        NOT Address IS NULL
    AND 
        NOT Degree_of_Shortage IS NULL
    AND 
        NOT HPSA_Score IS NULL
    AND 
        NOT Designation_Pop IS NULL
 -- AND
 -- NOT Status_Description = 'Withdrawn'
    LIMIT 10;
        """

test10 = sql.read_sql(query, con=conn)
test10

,Address,City,State_Abbr,County_Name,Postal_Code,Degree_of_Shortage,Status_Description,Designation_Pop,Estimated_Underserved_Pop,HPSA_Score,Designation_Date,Component_Designation_Date,HPSA_Withdrawn_Date,latitude,longitude
0,Success Loop Rd,Berlin,NH,Coos,3570,12,Designated,935,None,21,2019-02-22,None,None,44.522882,-71.139231
1,965 Elm St,Concord,MA,Middlesex,01742-2119,6,Designated,1729,None,6,2010-08-20,None,None,42.466866,-71.396306
2,2405 Main St,Walpole,MA,Norfolk,02081-1027,6,Designated,2272,None,6,2010-03-12,None,None,42.106412,-71.286631
3,99 Loring Dr,Framingham,MA,Middlesex,01702-8785,3,Designated,3263,None,3,2018-08-02,None,None,42.268254,-71.409736
4,400 Faunce Corner Rd,North Dartmouth,MA,Bristol,02747-1275,12,Designated,4339,None,12,2019-04-11,None,None,41.665131,-70.991221
5,1 Harvard Rd,Shirley,MA,Middlesex,01464-2434,6,Designated,2401,None,6,2010-12-17,None,None,42.542995,-71.657067
6,30 Administration Rd,Bridgewater,MA,Plymouth,02324-3230,12,Designated,773,None,12,2011-06-28,None,None,41.944286,-70.954011
7,500 Colony Rd,Gardner,MA,Worcester,01440-4238,3,Designated,1260,None,3,2007-02-28,None,None,42.575973,-71.946702
8,2 Clark St,Norfolk,MA,Norfolk,2056,6,Designated,1964,None,6,2007-02-28,None,None,42.121375,-71.303771
9,42 Patton Rd,Ayer,MA,Worcester,01434-3802,12,Designated,1053,None,12,2019-02-22,None,None,42.529098,-71.623929